{% extends 'page.html'%}

{% block breadcrumbs %}
<li><a href="{% url 'website:invited-speakers'%}">Invited Speakers</a></li>
<li><a href="{% url 'website:accepted-abstracts'%}">Selected Abstracts</a></li>
{% endblock %}


{% block content %}
<center><h4>Selected Abstracts</h4></center>
<table align="center">
<th>Title
<th>Speaker
{% for paper in papers %}
    <tr><td>{{ paper.title }}</td><td>{{ paper.user.first_name }} {{ paper.user.last_name }}</td></tr>
{% endfor %}
</table>
<p>* This is not the complete list, we have selected some talks as Pecha Kucha style talks & the list will be updated soon. </p>
<p># Schedule of the talks & other details to follow.
{% endblock %}
