{% extends 'page.html'%}
{% load static %}

{% block breadcrumbs %}
<li><a href="{% url 'website:invited-speakers'%}">Invited Speakers</a></li>
<li><a href="{% url 'website:list-abstracts'%}">List of Abstracts</a></li>
{% endblock %}

{% block content %}
<div class="row">
<h4>Invited Speakers</h4>

<div class="speaker">
  <div class="large-2 columns">
    <img src="{% static 'img/ondrej.png' %}" style="width: 150px;">
  </div>
  <div class="large-10 columns">
    <p align="justify">
    	<a href="http://ondrejcertik.com/" target="_blank"><b>Dr. Ondrej Certik</b></a> is a scientist at Los Alamos National Laboratory. He holds a PhD in Chemical Physics from University of Nevada, Reno. Dr. Ondrej is the lead developer of <a href="http://www.sympy.org/" target="_blank">SymPy</a> library and has major contributions to <a href="http://www.numpy.org/" target="_blank">NumPy</a> and other python libraries. He has been active debian user since 2001 and is an offical team member of Debian Python Modules Team (DPMT), Python Applications Packaging Team (PAPT) & Debian Scientific Computing Team (pkg-scicomp). 
    </p>
  </div>
  <div class="clearfix"></div>
</div> <!-- /speaker -->

<div class="speaker">
  <div class="large-2 columns">
    <img src="{% static 'img/ajith.png' %}" style="width: 150px;">
  </div>
  <div class="large-10 columns">
    <p align="justify">
    	<b>Dr. B. P. Ajith Kumar</b>, a scientist working with the <a href="http://www.iuac.res.in/" target="_blank">Inter University accelerator Centre of India</a>. His main area of work is development of instrumentation for particle accelerators and associated experiments, including radio-frequency accelerating structures, control and data acquisition systems, digital and radio frequency electronics modules. He initiated the <a href="http://www.iuac.res.in/~elab/phoenix/" target="_blank">PHOENIX</a> project by designing a parallel port based interface and organized a training program for teachers in 2005, and continuing with it. Dr. Ajith Kumar has been a user and propagator of Free Software in the field of education for several years.
    </p>
  </div>
  <div class="clearfix"></div>
</div> <!-- /speaker -->

</div> <!-- /row -->
{% endblock %}
