{% extends 'page.html'%}

{% block userblock %}
{% if current_user != "anonymous" %}
<li><a href="#"> {{ current_user }}</a></li>
<li><a href="/2013/accounts/logout">Logout</a></li>
{% endif %}
{% endblock %}
{% block content %}


<div class="row">
{% if status == "up" %}
<div data-alert class="alert-box success">
<p>We have succcessfully received your proposal. Thank You !</p>
<a href="#" class="close">&times;</a>
</div>
{% endif %}

<h4>Call for Proposals</h4>
  <p align="justify">
    We look forward to submissions for presentations at SciPy India 2013.  Please submit an abstract of  400 to 700 words describing the topic, including its relevance to Python.  Only submissions with an actual implementation will be considered for presentation (i.e. proposals to implement the code are not acceptable, partial implementations are acceptable so long as they demonstrate the features discussed).  Please provide links to your code if this is an open source implementation.  

Based on the quality of the submissions, the conference organizers will select it either as a full fledged talk (20-30 mins) or 
    <a href="http://en.wikipedia.org/wiki/PechaKucha" target="_blank">Pecha Kucha style</a> talk.
  </p>
  <p>
    <strong>If you wish to present a talk at the conference, please follow the guidelines below.</strong>
  </p>
<br>
<div class="large-8 columns" style="border: 3px solid #f5f5f5; height:250px;">
  <h4>Submission Guidelines</h4>
  <ul style="margin: 0 0 0 15px;">
      <li>
        <a class="button tiny" href="/2013/accounts/register">Register</a> to submit a proposal (this registration is <b>NOT</b> the 
        <a href="{% url 'website:register'%}">conference registration</a>)
      </li>
      <li>
        <a class="button tiny success" href="/2013/accounts/login">Login</a> & <a class="button tiny success" href="/2013/accounts/upload-document">Upload</a> your proposal in the form of text file or a pdf file
      </li>
      <li>
        Submissions whose main purpose is to promote a commercial product or service will be refused
      </li>
      <li>
        All accepted proposals must be presented at the conference by at least one author
      </li>
  </ul>
</div>
<div class="large-4 columns" style="background: #f5f5f5; height:250px;">
  <h4>Important Dates</h4>
  <br>
  <table>
    <tr><td>Call for proposals start: 7th October 2013
	  <tr><td>Call for proposals end: 2nd December 2013
	  <tr><td>List of accepted proposals will be published: 6th December 2013
  </table>
</div>
</div>
</div> <!-- row -->
{% endblock %}
