{% extends 'page.html'%}

{% block userblock %}
{% if current_user != "anonymous" %}
<li><a href="#"> {{ current_user }}</a></li>
<li><a href="/2013/accounts/logout">Logout</a></li>
{% endif %}
{% endblock %}
{% block content %}


<div class="row">
{% if status == "up" %}
<div data-alert class="alert-box success">
<p>We have succcessfully received your proposal. Thank You !</p>
<a href="#" class="close">&times;</a>
</div>
{% endif %}

<h4>Call for Proposals</h4>
  <p>Thank you for your interest in proposing a session at the conference. We regret to inform that call for proposals has been closed for this year.</p>
  <p>You may have a look at <a href="{% url 'website:accepted-abstracts'%}">Accepted Abstracts</a>.
  <p>The <a href="{% url 'website:schedule'%}">Schedule</a> for the conference is also up. </p>
</div> <!-- row -->
{% endblock %}
