{% extends 'page.html' %}
{% load static %}
{% block breadcrumbs %}
<li><a href="{% url 'website:venue'%}">The Venue</a></li>
<li class="current"><a href="#">Reaching the Venue</a></li>
<li><a href="{% url 'website:contact'%}">Contact Us</a></li>
{% endblock %}
<style type="text/css">
	div {visibility:hidden;
</style>
{% block content %}
<h4>Quick guide to reach IIT Bombay campus</h4>
<p style="font-size: .9em;">
- Powai is an eastern suburb in North-Eastern part of Mumbai. <br>
- Here is how you can reach IIT Bombay from various important stations.
</p>

<div id="reach-scipy" class="row"> 
  <ul class="side-nav large-4 columns">
    <li class="active"><a id="airport" href="#">From Airport</a></li>
    <li><a id="dadar" href="#">From Dadar Station</a></li>
    <li><a id="thane" href="#">From Thane Station</a></li>
    <li><a id="bandra" href="#">From Bandra Terminus</a></li>
    <li><a id="tilak" href="#">From Lokmanya Tilak Terminus</a></li>
    <li><a id="central" href="#">From Mumbai Central</a></li>
    <li><a id="shivaji" href="#">From Chatrapati Shivaji Terminus</a></li>
  </ul>
 
  <div id="map" class="large-8 columns">
    <img id="map-loader" src="{% static 'img/map-loader.gif' %}">
    <div id="mappy">
      <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.co.in/maps?f=d&amp;source=s_d&amp;saddr=Chhatrapati+Shivaji+International+Airport,+Andheri+East,+Mumbai,+Maharashtra&amp;daddr=IIT+Main+Gate&amp;hl=en&amp;geocode=FQFLIwEdg-NXBCGuqHTEYBrMHilHKb2ZUMjnOzGuqHTEYBrMHg%3BFRrUIwEdep5YBCldyp4n8sfnOzFZy8ueURQugA&amp;aq=4&amp;oq=IIT&amp;sll=19.099667,72.883154&amp;sspn=0.094407,0.154324&amp;mra=pd&amp;ie=UTF8&amp;t=m&amp;ll=19.110379,72.895527&amp;spn=0.029763,0.042183&amp;output=embed">
      </iframe>
    </div>
  </div> <!-- /map -->

</div> <!--/row -->
{% endblock %}
