{% extends 'page.html'%}
{% block content %}
<div class="row">
<h3>Register</h3>
<div class="row">
    <div class="reg"> 
        <table>
            <th>Tickets</th>
            <th>Price</th>
            <tr>
                <td>Regular Registration</td>
                <td>INR 600</td>
            </tr>
            <tr>
                <td>Corporate Registration</td>
                <td>INR 1000</td>
            </tr>
        </table>
    </div>

    <div class="reg">
        <table>
            <th>Addons</th>
            <th>Price</th>
            <tr>
                <td>Accommodation</td>
                <td>INR 740</td>
            </tr>
            <tr>
                <td>T-Shirt</td>
                <td>INR 250</td>
            </tr>
        </table>
    </div>
</div> <!-- /row -->
<a class="button small success" href="http://scipyindia2013.doattend.com/">Register</a>
<strong>for SciPy Conference 2013.</strong>
<br>
We regret the inconvinience caused earlier. We had some issues with the payment gateway.
</div> <!-- /row -->
{% endblock %}
