{% extends 'page.html'%}

{% block breadcrumbs %}
<li class="current"><a href="">Schedule</a></li>
<li><a href="{% url 'website:invited-speakers'%}">Invited Speakers</a></li>
<li><a href="{% url 'website:accepted-abstracts'%}">Accepted Abstracts</a></li>
{% endblock %}

{% block content %}
<center><h4>TUTORIALS</h4></center>
<h4><center><u>DAY 1 - Friday, 13th December 2013</u></center></h4>
<table name=main>
<tr bgcolor="C6E2FF">
    <th class=tdstyle>Time
    <th class=tdstyle>Speaker
    <th class=tdstyle>Detail
    <tr>
        <td class=tdstyle>8:00 - 9:00	<td class=tdstyle colspan=2><b>Registration</b>
    </tr>
    <tr>
        <td class=tdstyle>9:00 - 10:30 <td class=tdstyle>Prashant/Dhruv<td class=tdstyle>Installations and setup Introduction to IPython
    </tr>
    <tr>
        <td class=tdstyle>10:30 - 10:50	<td class=tdstyle colspan=2><b>Tea break</b>
    </tr>
    <tr>
        <td class=tdstyle>10:50 - 13:30 <td class=tdstyle>Ondrej Certik<td class=tdstyle>NumPy
    </tr>
    <tr>
        <td class=tdstyle>13:30 - 14:30 <td class=tdstyle colspan=2><b>Lunch</b>
    </tr>
    <tr>
        <td class=tdstyle>14:30 - 17:00	<td class=tdstyle>Jaidev Deshpande<td class=tdstyle>Pandas
    </tr>
    <tr>
        <td class=tdstyle>17:00 - 17:20	<td class=tdstyle colspan=2><b>Tea break</b>
    </tr>
    <tr>
        <td class=tdstyle>17:20 - 18:30	<td class=tdstyle><b>Open Space</b>
    </tr>
    <tr>
        <td class=tdstyle colspan=3><b>End of DAY 1</b>
    </tr>
</tr>
</table>

<center><h4>TUTORIALS</h4></center>
<h4><center><u>DAY 2 - Saturday, 14th December 2013</u></center></h4>
<table name=main>
<tr bgcolor="C6E2FF">
    <th class=tdstyle>Time
    <th class=tdstyle>Speaker
    <th class=tdstyle>Detail
    <tr>
        <td class=tdstyle>8:30 - 9:00	<td class=tdstyle colspan=2><b>Registration</b>
    </tr>
    <tr>
        <td class=tdstyle>9:00 - 10:30 <td class=tdstyle>Ajith Kumar<td class=tdstyle>expEYES
    </tr>
    <tr>
        <td class=tdstyle>10:30 - 10:50	<td class=tdstyle colspan=2><b>Tea break</b>
    </tr>
    <tr>
        <td class=tdstyle>10:50 - 13:30 <td class=tdstyle>Bala Subrahmanyam<td class=tdstyle>scikit Learn
    </tr>
    <tr>
        <td class=tdstyle>13:30 - 14:30 <td class=tdstyle colspan=2><b>Lunch</b>
    </tr>
    <tr>
        <td class=tdstyle>14:30 - 17:00	<td class=tdstyle>Ondrej Certik<td class=tdstyle>SymPy
    </tr>
    <tr>
        <td class=tdstyle>17:00 - 17:20	<td class=tdstyle colspan=2><b>Tea break</b>
    </tr>
    <tr>
        <td class=tdstyle>17:20 - 18:30	<td class=tdstyle>Jay Parikh<td class=tdstyle>Swig
    </tr>
    <tr>
        <td class=tdstyle colspan=3><b>End of DAY 2</b>
    </tr>
</table>

<center><h4>TALKS</h4></center>
<h4><center><u>DAY 3 - Sunday, 15th December 2013</u></center></h4>
<table name=main>
<tr bgcolor="C6E2FF">
    <th class=tdstyle>Time
    <th class=tdstyle>Speaker
    <th class=tdstyle>Detail
    <tr>
        <td class=tdstyle>8:30 - 9:00	<td class=tdstyle colspan=2><b>Registration</b>
    </tr>
    <tr>
        <td class=tdstyle>9:00 - 9:10 <td class=tdstyle>Prabhu Ramachandran<td class=tdstyle>Welcome & Introduction
    </tr>
    <tr>
        <td class=tdstyle>9:10 - 9:30	<td class=tdstyle>Anirudh Wodeyar <td>BrainTone - Listening to Brain Waves in Real Time
    </tr>
    <tr>
        <td class=tdstyle>9:30 - 9:45 <td class=tdstyle>Kuppurasu Nagaraj<td class=tdstyle>PCEHR: Python Cloud based an Electronic Health Record (EHR)
    </tr>
    <tr>
        <td class=tdstyle>9:30 - 10:00 <td class=tdstyle><td>Madhu Sharma<td>Python based implementation of a secret sharing scheme
    </tr>
    <tr>
        <td class=tdstyle>10:30 - 11:00	<td class=tdstyle>Ondrej Certik<td class=tdstyle>Keynote
    </tr>
    <tr>
        <td class=tdstyle>11:00 - 11:30	<td class=tdstyle colspan=2><b>Tea break</b>
    </tr>
    <tr>
        <td class=tdstyle>11:30 - 11:50	<td class=tdstyle>Ambuja Salgaonkar<td class=tdstyle>CHANGE MANAGEMENT WHILE INTRODUCING PYTHON IN THE FORMAL CURRICULA
    </tr>
    <tr>
        <td class=tdstyle>11:50 - 12:05	<td class=tdstyle>Vishwanath Dalvi<td class=tdstyle>Automating routing administrative tasks with PyWin32
    </tr>
    <tr>
        <td class=tdstyle>12:05 - 12:25	<td class=tdstyle>Arulalan T<td class=tdstyle>A Python Based Framework for Systematic Weather Model Diagnosis
    </tr>
    <tr>
        <td class=tdstyle>12:25 - 12:40	<td class=tdstyle>Sachi Patil<td class=tdstyle>Python + Emacs in scientific computing
    </tr>
    <tr>
        <td class=tdstyle>12:40 - 13:00	<td class=tdstyle>Pankaj Kumar<td class=tdstyle>SudokuFinder : Solving the 17 clue Sudoku challenge
    </tr>
    <tr>
        <td class=tdstyle>13:00 - 14:00	<td class=tdstyle colspan=2><b>Lunch</b>
    </tr>
    <tr>
        <td class=tdstyle>14:40 - 14:50	<td class=tdstyle>Ajith Kumar<td class=tdstyle>expEYES
    </tr>
    <tr>
        <td class=tdstyle>14:50 - 15:10	<td class=tdstyle>Jaidev Deshpande<td class=tdstyle>Compressive Sensing Solvers in Python
    </tr>
    <tr>
        <td class=tdstyle>15:10 - 15:25	<td class=tdstyle>Kiran Kadam<td class=tdstyle>PIV Image Processing using Python
    </tr>
    <tr>
        <td class=tdstyle>15:25 - 15:40	<td class=tdstyle>Samarth Shah<td class=tdstyle>Image Processing using Microsoft Kinect and Python
    </tr>
    <tr>
        <td class=tdstyle>15:40 - 16:00	<td class=tdstyle>Tirthankar Chakravarty<td class=tdstyle>dCrypt: A novel text categorization and classification system
    </tr>
    <tr>
        <td class=tdstyle>16:00 - 16:30	<td class=tdstyle colspan=2><b>Tea Break</b>
    </tr>
    <tr>
        <td class=tdstyle>16:30 - 16:50	<td class=tdstyle>Hardik Ghaghada<td class=tdstyle>Python Textbook Companion Project & Insights of FOSSEE
    </tr>
    <tr>
        <td class=tdstyle>16:50 - 17:30	<td class=tdstyle>6 Speakers<td class=tdstyle>Pecha Kucha Session
    </tr>
    <tr>
        <td class=tdstyle>17:50 - 17:45	<td class=tdstyle colspan=2>Guest Speaker (depends on Availability)
    </tr>
    <tr>
        <td class=tdstyle>17:45 - 18:00	<td class=tdstyle colspan=2>Guest Speaker (depends on Availability)
    </tr>
    <tr>
        <td class=tdstyle colspan=3><b>End of DAY 3</b>
    </tr>
</table>
{% endblock %}
