{% extends 'page.html'%}
{% load static %}
{% block content %}
<div class="row">
<h4>Platinum Sponsor</h4>
<div class="sponsor">
  <div class="large-4 columns">
    <a href="http://www.enthought.com/" target="_blank">
      <img src="{% static 'img/enthought-logo.png' %}" style="width: 100%; margin: 25px 0 0 0;">
    </a>
  </div>
  <div class="large-8 columns">
    <p>
      <a href="http://www.enthought.com/" target="_blank">Enthought Inc.</a> 
      is a software company based in Austin, Texas, USA that 
      develops scientific computing solutions using primarily the Python 
      programming language. It is best known for the early development and 
      maintenance of the <a href="http://scipy.org/" target="_blank">SciPy </a>
      library of mathematics, science, and engineering algorithms and for its 
      Python for scientific computing distribution <a href="https://www.enthought.com/products/canopy/" target="_blank">Enthought Canopy</a> (formerly EPD). 
    </p>
  </div>
  <div class="clearfix"></div>
</div> <!-- /sponsor -->

<h4>Gold Sponsor</h4>
<div class="sponsor">
  <div class="large-4 columns">
    <a href="http://mhrd.gov.in/" target="_blank">
      <img src="{% static 'img/mhrd-logo.png' %}" style="width: 80%; margin: -5px 0 0 10px;">
    </a>
  </div>
  <div class="large-8 columns">
    <p>
      The FOSSEE project undertaken by IIT Bombay is funded by 
      <a href="http://mhrd.gov.in/" target="_blank">Ministry of 
      Human Resource Development(Govt. of India)</a> under National Mission on 
      Education through ICT. The essence of Human Resource Development is education, 
      which plays a significant and remedial role in balancing the socio-economic 
      fabric of the Country. Since citizens of India are its most valuable resource, 
      our billion-strong nation needs the nurture and care in the form of basic 
      education to achieve a better quality of life.
    </p>
  </div>
  <div class="clearfix"></div>
</div> <!-- /sponsor -->

<h4>Organizers</h4>
<div class="sponsor">
  <div class="large-4 columns">
    <a href="http://fossee.in" target="_blank">
      <img src="{% static 'img/fossee-logo.png' %}" style="width: 80%; margin: 20px 0 0 10px;">
    </a>
  </div>
  <div class="large-8 columns">
    <p>
      Annual SciPy India conference is organized by the team members of 
      <a href="http://fossee.in" target="_blank">FOSSEE</a> project. For any queries you may 
      writes us at info[at]fossee[dot]in. FOSSEE project is part of the 
      National Mission on Education through ICT with the 
      thrust area being "Adaptation and deployment of open source simulation 
      packages equivalent to proprietary software, funded by MHRD, based at the 
      <a href="http://www.iitb.ac.in" target="_blank">Indian Institute of Technology Bombay (IITB)</a>.
    </p>
  </div>
  <div class="clearfix"></div>
</div> <!-- /sponsor -->

{% endblock %}